<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	ng-app="calculator">
<head>

<title>Calculator</title>
<script th:src="@{/resources/js/angular.js}"></script>
<link th:href="@{/resources/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/resources/css/bootstrap-theme.css}" rel="stylesheet" />
<script th:inline="javascript">
	function getCtx() {
		return /*[[${#httpServletRequest.getContextPath()}]]*/'';
	}
</script>
<script>
	angular.module("calculator", [ "ngRoute" ]).constant("context",
			getCtx()).config(function($routeProvider, context) {
		$routeProvider.when("/calculator", {
			templateUrl : context + "/resources/views/calculator.html"
		});
		$routeProvider.when("/summary", {
			templateUrl : context + "/resources/views/summary.html"
		});
		$routeProvider.otherwise({
			templateUrl : context + "/resources/views/calculator.html"
		});
	});
</script>
<script th:src="@{/resources/controllers/calculator.js}"></script>
<script th:src="@{/resources/ngmodules/angular-route.js}"></script>
<style type="text/css">
	.navbar-right { float: right !important; margin-right: 5px;}
	.navbar-text { color:#000000; margin-right: 20px; }
</style>


</head>
<body ng-controller="calculatorCtrl">
	<div class="navbar navbar-inverse">
		<a class="navbar-brand" href="#">Calculator</a>
		
		<div class="navbar-right">
			<div class="navbar-text">
				<div class="input-group">
					<label>ID : </label><input name="userId" class="input-medium" ng-model="user.id" />
					<br/>
					<label>PW : </label><input name="userPw" class="input-medium" ng-model="user.password" />
				</div>
			</div>
			
			<div class="navbar-text">
				<button class="btn btn-primary" ng-click="authToken()">인증</button>
				<br/>
				 
				<label>access_token : </label>
				<input class="input-medium uneditable-input" ng-model="login.access_token" ng-disabled="true"/>
				<br/>
				
				<label>token_type : </label>
				<input class="input-medium uneditable-input" ng-model="login.token_type" ng-disabled="true"/>
				<br/>
				
				<label>refresh_token : </label>
				<input class="input-medium uneditable-input" ng-model="login.refresh_token" ng-disabled="true"/>
				<br/>				
				
				<label>expires_in : </label>
				<input class="input-medium uneditable-input" ng-model="login.expires_in" ng-disabled="true"/>
				<br/>
				
				<label>scope : </label>
				<input class="input-medium uneditable-input" ng-model="login.scope" ng-disabled="true"/>
			</div>
		
			<div class="navbar-text">
				<button class="btn btn-primary" ng-click="refreshToken()">리프레쉬</button>
				<br/>
				 
				<label>access_token : </label>
				<input class="input-medium uneditable-input" ng-model="refresh.access_token" ng-disabled="true"/>
				<br/>
				
				<label>token_type : </label>
				<input class="input-medium uneditable-input" ng-model="refresh.token_type" ng-disabled="true"/>
				<br/>
				
				<label>refresh_token : </label>
				<input class="input-medium uneditable-input" ng-model="refresh.refresh_token" ng-disabled="true"/>
				<br/>				
				
				<label>expires_in : </label>
				<input class="input-medium uneditable-input" ng-model="refresh.expires_in" ng-disabled="true"/>
				<br/>
				
				<label>scope : </label>
				<input class="input-medium uneditable-input" ng-model="refresh.scope" ng-required="true" ng-disabled="true"/>
			</div>
		</div>
	</div>

	<div class="col-sm-2">
		<a class="btn btn-block btn-default btn-lg" href="#/calculator">계산기</a>
		
		<button class="btn btn-block btn-default btn-lg"
				ng-click="querySummary()">요약</button>
		
	</div>
	<div class="col-sm-10">
		<div ng-view='' />
	</div>

</body>
</html>