<div>
	<div class="panel">
		<form name="emailEvidenceForm" novalidate>
			<h3 class="panel-heading">이메일 정보 인증</h3>
			
			<div class="input-group">
				<label>email : </label> 
				<input name="email" class="input-medium" type="email" ng-model="applicationForm.evidence" ng-pattern="emailPattern" required/>
				<button class="btn btn-primary" ng-click="verifyEmailEvidence()" ng-disabled="emailEvidenceForm.email.$invalid">인증요청</button>
			</div>
			<br/>
			
			<div ng-show="rest.email.status" ng-hide="!(rest.email.status)">
				<div class="input-group">
					<label>result : </label> 
					<input name="originSecretCode" class="input-medium uneditable-input" ng-model="resultForm.secretCodeForEmail" ng-pattern="^\\d{6}$" required disabled/>
				</div>		
				<br/>
				
				<div class="input-group">
					<label>code : </label> 
					<input name="userSecretCode" class="input-medium" ng-model="userInput.secretCodeForEmail" ng-pattern="resultForm.secretCodeForEmail" required />
				</div>
				<br/>
			</div>
			<div class="alert alert-info" ng-show="!(rest.email.status)" ng-hide="rest.email.status">
				<span>errorCode : </span>
				<span>{{rest.email.error.code}}</span>
				<br/>
				<span>errorMessage : </span>
				<span>{{rest.email.error.message}}</span>
			</div>
			
			<button class="btn btn-primary" ng-click="beforeEmailEvidence()">이전</button>
			<a class="btn btn-primary" href="#/phone" ng-disabled="emailEvidenceForm.originSecretCode.$invalid || emailEvidenceForm.userSecretCode.$invalid">다음</a>
		</form>
	</div>
</div>