<div>
	<div class="panel">
		<form name="requestTokenForm" novalidate>
			<h3 class="panel-heading">리퀘스트 토큰 요청</h3>
			
			<div class="input-group">
				<button class="btn btn-primary" ng-click="newRequestToken()">요청</button>
				
				<div ng-show="rest.requestToken.status" ng-hide="!(rest.requestToken.status)">
					<label>result : </label> 
					<input name="originRequestToken" class="input-medium" ng-model="applicationForm.requestToken"  ng-pattern="^\\d{12}$" required disabled/>
				</div>
				
				<div class="alert alert-info" ng-show="!(rest.requestToken.status)" ng-hide="rest.requestToken.status">
					<span>errorCode : </span>
					<span>{{rest.requestToken.error.code}}</span>
					<br/>
					<span>errorMessage : </span>
					<span>{{rest.requestToken.error.message}}</span>
				</div>				 
			</div>
			
			
			<button class="btn btn-primary" ng-click="nextRequestToken()" ng-disabled="requestTokenForm.$invalid || requestTokenForm.originRequestToken.$invalid">다음</a>
		</form>
	</div>
</div>