<div>
	<div class="panel">
		<h3 class="panel-heading">닉네임 등록</h3>
		
		<form name="nicknameForm" novalidate>
			<div class="input-group">
				<label>nickname : </label> 
				<input class="input-medium" ng-model="applicationForm.profile.nickname" required/>
				<button class="btn btn-primary" ng-click="registNickname()" ng-disabled="nicknameForm.$invalid">계정생성</button>
			</div>
		</form>
		<br/>
		
		<div class="input-group" ng-show="rest.nickname.status" ng-hide="!(rest.nickname.status)">
			<label>idToken : </label> 
			<input class="input-medium uneditable-input" ng-model="resultForm.idToken"  disabled/>
			
			<br/>
		
			<label>accessToken : </label> 
			<input class="input-medium uneditable-input" ng-model="resultForm.accessToken"  disabled/>
		
			<br/>
			
			<label>jid : </label> 
			<input class="input-medium uneditable-input" ng-model="resultForm.jid"  disabled/>
		
			<br/>
			
			<label>sip : </label> 
			<input class="input-medium uneditable-input" ng-model="resultForm.sip"  disabled/>
		
			<br/>
		</div>
		
		<div class="alert alert-info" ng-show="!(rest.nickname.status)" ng-hide="rest.nickname.status">
			<span>errorCode : </span>
			<span>{{rest.nickname.error.code}}</span>
			<br/>
			<span>errorMessage : </span>
			<span>{{rest.nickname.error.message}}</span>
		</div>
		
		<button class="btn btn-primary" ng-click="beforeNickname()">이전</button>
		<button class="btn btn-primary" ng-click="first()">처음으로</button>
	</div>
</div>